<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.musicApp"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Music Player Example</name>

    <description>
        An example phonegap app for playing music in the background
    </description>

    <author href="https://www.linkedin.com/profile/view?id=341091618" email="nickbolles@live.com">
       Nick Bolles
    </author>
    <preference name="webviewbounce" value="true"/>
	<preference name="EnableViewportScale" value="true" />
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />

</widget>